#screen {
	/* background: rgba(0, 0, 0,0.8); */
	left: 0px; 
	top: 0px; 
	position: absolute;
	
	background-image:  -moz-radial-gradient(center center, circle cover,  rgba(255,255,255,0.9) 0%,rgba(50,50,50,.90) 95%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,255,255,0.8)), color-stop(100%,rgba(50,50,50,0.80))); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.7) 0%, rgba(50,50,50,0.80) 100%); /* Chrome10+,Safari5.1+ */
	
	/*background-image: radial-gradient(center center, circle closest-side, #ff0000 0%,#19ff30 29%) 
	background: -o-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.7) 0%,rgba(0,255,0,0.9) 40%,rgba(0,0,255,0.95) 100%);  Opera 12+ 
	background: -ms-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.7) 0%,rgba(0,255,0,0.9) 40%,rgba(0,0,255,0.95) 100%);  IE10+ 
	background: radial-gradient(ellipse at center,  rgba(255,255,255,0.7) 0%,rgba(0,255,0,0.9) 40%,rgba(0,0,255,0.95) 100%); /* W3C */
	
}
#box {
	background: rgba(220, 220, 220, 0.75);
	border: 1px solid #f8f8f8; 
	left: 50%; 
	top: 50%; 
	width: 315px; 
	height: 214px; 
	text-align: center; 
	margin-top: -107px; 
	margin-left: -160px; 
	display: none; 
	position: fixed; 
	z-index: 999;
	border-radius: 8px;
}
#box #title{
	font-family:Arial;
	font-size:28px;
	text-align: left;
	color: #fff;
	float:left;
	line-height:60px;
	font-weight: bold;
	padding-left: 10px;
	
}
#box #face {
	width:40px; 
	height: 40px;
	margin: 10px 0px 0px 10px; 
	display:inline; 
	float: left;
	clear: both;
}
#box #contentArea{
	background-color: #fff;
	border-radius: 8px;
	width:85%;
	clear: both;
	margin:0px auto;
	padding:10px;
}
#box #contentArea{
	background-color: #fff;
	border-radius: 8px;
	width:85%;
	clear: both;
	margin:0px auto;
	padding:12px;
}
#box #contentArea1{
	font-size: 12px;
	color: #959398;

}

/****************************** Menu **********************************/
ul#menu {
	list-style:none;
	width:350px;
	padding-left:10px;
}
ul#menu li a {	
	float:left;
	height:22px;
	background-image:url('../images/alertButtons.png');
	text-indent:-999px;
}
ul#menu li a.join {
	width:143px;
	background-position:0 0;
}
ul#menu li a.proceed {
	width:146px;
	background-position:-140px 0;
}
ul#menu li a.join:hover {
	width:143px;
	background-position:0 23px;
}
ul#menu li a.proceed:hover {
	width:146px;
	background-position:-140px 23px;
}

/****************************** Menu End **********************************/

#footer{
	position:absolute;
	bottom:0;
	width:100%;
	height:30px;   /* Height of the footer */
	border-top:1px solid #DCDDDE;
	color: #BCBEC0;
}

#footer a{
	color: #FFC20E;
	text-decoration:none;
	font-size:12px;
}

#footer #footerStoryzerCR{
	font-size:12px;
	color:#BCBEC0;
}