body, html {
	
}
body {
	margin:0;
	padding:0;
	height:100%;
	text-align: center;
	font-family: Arial;
}
#genre .titleText, #sneaks .titleText, #info .titleText, #covers .titleText, #type-price .titleText{
	font-family:Century Gothic;
	font-size: 13px;
	color:BCBEC0;
	font-weight: bold;
	text-transform: uppercase;	
}
#info, #covers, #sneaks, #genre, #type-price, #author{
	padding: 5px 12px 0px 12px;
}
#genre #star, #info #star, #covers #star, #type-price #star{
	color: #ff0000;
	font-size:14px;
	font-family: Century Gothic;
	font-weight: bold;
}
.headerBackground{
	background-image: url('../images/headerBack.png');
	height: 47px;
	width: 899px;
	float: right;
	
}
.title{
	color: #FFC20E;
	font-size: 25px;
	line-height: 45px;
	padding-left: 25px;
}
#buttonPanel {
	float: right; 
	padding:13px 13px;
	
}
#spacer {
	background-image: url('../images/spacer.png');
	height: 7px;
	position: relative;
	
}
/******************************* Layout Start *************************/
#wrapper { 
	width: 960px; 
	margin: 0 auto; 
}

#header, #content-wrapper { 
	float: left; 
	width: 960px; 
	margin: 5px; 
	display: block; 
	text-align: left;
	clear: both;
}
#sidebar-left { 
	float: left; 
	width: 296px;
	border: 1px solid #dcddde;
	border-radius: 8px;
}
#content {
	float: left;
	width: 644px;
	margin-left: 16px;
	border: 1px solid #dcddde;
	border-radius: 8px;
}

/********************** Layout End **************************/

div {
	border: 0px solid green;
}
input, textarea{
	border: 1px solid #bcbdc0;
	width: 100%;
	color: #58595B;
	font-family: Arial;
	font-size: 12px;
}
#genre .orangeTitle, #info .orangeTitle {
	color:#FFC20E;
	font-size: 13px;
	font-weight: bold;
}
a .helpIcon { 
	float: right;
	background: url('../images/help.png') no-repeat;
	display: block;
    height: 15px;
	width: 13px;
}
a .helpIcon:hover {
	float: right;
	color: red;
	background: url('../images/helpOver.png') no-repeat;
	height: 15px;
	width: 13px;
}
a.helpIcon:active {
   background: url('../images/helpOver.png') no-repeat;
}

hr {
	border: 1px solid #bcbdc0;
	height: 1px;
	
}

.box {
	height: 184px;
	border: 1px solid #bcbdc0;
	width: 130px;
}
#sneaksCollection div{
	display: inline; 
	float: left; 
	width: 22%; 
	margin-left: 3%;
	height: 88px;
	border: 1px solid #c7c8ca;
	background-image: -moz-linear-gradient(top, #eaebec, #f8f8f8); 
	background: -webkit-linear-gradient(top, #eaebec, #f8f8f8);

}
#pagesCollection div{
	display: inline; 
	float: left; 
	width: 23%;
	margin-left: 2.6%;
	height: 212px;
}
#horizonalRow{
	background-image: url('../images/rule.png');
	width: 100%;
	height: 17px;
}
#pagesCollection #pagesDiv{
	text-align: center;
	width: 98%;
	border: none;
	margin:0px;
	border: 1px solid #c7c8ca;
	background-image: -moz-linear-gradient(top, #eaebec, #f8f8f8); 
	background: -webkit-linear-gradient(top, #eaebec, #f8f8f8);
}
#pagesCollection  #pagesText{
	text-align: center;
	width: 98%;
	border:0px solid red;
	height: auto;
	background-image: none;
	line-height: 25px;
	font-size:13px;
	font-weight: bold;
	color: #939598;
}
#pagesCollection  #pagesGroup{
	margin-left:0px; 
	height: 250px;
}

#genre  span, #type-price span {
	color: #333333;
	font-size: 11px;
}
#authorName {
	font-size: 18px;
	color: #939598;
	font-weight: bold;
	margin-left: 5px;
}
#copyright {
	font-size:10px;
	color: #939598;
	margin-left: 5px; 
}

/****************************************  Login Page Start *********************************/
#loginContent {	
	width: 960px;
	border: 1px solid #dcddde;
	border-radius: 8px;
	height: 650px;
	margin: 0 auto; 
	text-align: left;	
}
#dragImageHere{
	background-image: url('../images/dragImageHere.png');
	height: 205px;
	width: 175px;
	margin: 200px auto;	
	background-repeat: no-repeat;
}

/****************************************  Login Page End *********************************/

/* Landing page*/
#container{
	text-align: center;	
	background-repeat: no-repeat;
	min-height:100%;
	position: relative;
}

#landingContent{
	padding-top:200px;
}
#landingText{
	font-family: Century Gothic;
	color:#58595B;
	font-size: 15px;
	word-spacing:2px;
	font-weight: bold;
}

#contentWraper {
	width: 602px;
	margin:0px auto;
}
#contentArea{
	border: 1px solid #e0e1e2;
	border-radius: 8px;
	background-color: #fff;
	width: 514px;
	padding: 10px;
	margin-left: 66px;
}
.checkoutProcess {
	font-size:15px;
	color: #58585a;
}
#landingTextOne{
	font-size:13px;
	color: #58595B;
}
#faceSmile {
	float:left;
	padding-top: 24px;
}
#arrowRight{
	width: 9px;
	height: 9px;	
	background-image: url('../images/arrowRight.png');
	position: absolute;
	margin: 45px 0px 0px 58px;
}
/*Landing page end*/

.rememberPassword{
	color: #808080;
}
a:link {
	color: #ffcf06;	
}
a:active {
	color: #ffcf06;	
}
a:visited {
	color: #ffcf06;	
}
a:hover {
	color: #FFC20E;	
}

.customizedInput {
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
	border-radius: 12px;
	font-size: 13px;
	height: 24px;
	background-image: -moz-linear-gradient(top, #f4f4f4, #fafafa); 
	background: -webkit-linear-gradient(top, #f4f4f4, #fafafa);
	border: 1px solid #dadbdd;
	padding-left: 10px; 	
}
input:-moz-placeholder {  
  color: #bcbdc0;  
}  
.nameofStories{
	color: #58595B;	
}

/* Pulish popup start */
.titleOfNewWork {
	font-size: 18px;
	font-weight: bold;
}
.thisActionisIrreversible {
	color: #959398;
	font-size:12px;
}
.termsAndConditions{
	color: #58595B;
	font-weight: bold;
}
/* Pulish popup End */


.checkboxArea, .checkboxAreaChecked {
    background: url("../images/bg-radio.png") no-repeat scroll 0 0 transparent;
    float: left;
    height: 14px;
    margin: 3px 9px 0 0;
    overflow: hidden;
    width: 14px;
}
.checkboxAreaChecked {
    background-position: 0 -28px;
}