# mac os x related files
*.DS_Store

# Build and Release Folders
bin-debug/
bin-release/

# Project property files
.actionScriptProperties
.flexProperties
.settings/
.project

# ignore Intellij IDEA files
*.idea/*
STORYBOT.iml
/out/*
